.imagess{
   /*float: left;
   margin-left: 20px;
   border: 2px solid black;
   border-radius: 20px; 
   */
   float: left;
   width: 300px;
   height: 300px;
   margin: 25px auto;
   border-radius: 50%;
   margin-left: 70px;
}

.imagess:hover{
   opacity: 0.5;
  filter: alpha(opacity=50);
  
 }

 
  .titre{
     border: 2px solid black;
     width: 221px;
     height: 761px;
     float: left;
     background-color: black;
  }

  .test{
   color: blue;
   transform: rotate(90deg); 
   font-size: 100px;
  }