{% extends 'base.html.twig' %}

{% block title %}Edit Variants{% endblock %}

{% block body %}
    <h1>Edit Variants</h1>

    {{ include('variants/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('variants_index') }}">back to list</a>

    {{ include('variants/_delete_form.html.twig') }}
{% endblock %}
